/* ==========================================================================
	@_content-documentation.scss
	Template part for displaying documentation content in single.php
============================================================================= */

.documentation-navigation {
	> ul > li {
		list-style: none;
		display: none;
		&.current_page_ancestor {
			display: block;
		}
	}
	& ul {
		list-style: none;
	}
	& .current_page_item a {
		color: var(--wp--preset--color--primary);
	}
}
