/* ==========================================================================
	@_widget-header.scss
============================================================================= */

.widget-header {
	display: flex;
	gap: 42px;
	align-items: center;
}
